@model IEnumerable<Vidly_MVC.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>No Custers added yet!</p>
}

<table class="table table-bordered table-responsive table-striped" >
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
        </tr>

    }
</table>