@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@Html.ActionLink("New Customers", "New", "Customer", null, new { @class = "btn btn-primary" })

<br /><br />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var custTable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data:"membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>Edit</a>" +
                                "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/customers/' + button.attr("data-customer-id"),
                            method: 'DELETE',
                            success: function () {
                                custTable.row(button.parents("tr")).remove().draw();
                            },
                            error: function () {

                            }
                        });
                    }
                });
            });
        });
    </script>
}
