@model IEnumerable<Vidly_MVC.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@Html.ActionLink("New Customers", "New", "Customer", null, new { @class = "btn btn-primary" })

<br /><br />

@if (!Model.Any())
{
    <p>No Custers added yet!</p>
}

<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
        <th>Action</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, null)</td>
        </tr>

    }
</table>