@model IEnumerable<Vidly_MVC.Models.Movies>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie","MoviesForm","Movies",null,new { @class="btn btn-primary"})

@if (!Model.Any())
{
    <p>No Custers added yet!</p>
}

    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th>Customers</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name,"Details","Movies",new { id=movie.Id},null)
                </td>
                <td>@movie.Genre.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, null)</td>
            </tr>

        }
    </table>
